<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								选手名称：<input type="text" name="playerName"/>
							</li>

							<li style="display:none" >
								活动表id：<input type="text" id="activityId" name="activityId" th:value="${hdPlayer}" />
							</li>

							<li style="width: 100%;text-align: center">
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <!--<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="activity:hdPlayerGiftLog:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>-->
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('activity:hdPlayerGiftLog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('activity:hdPlayerGiftLog:remove')}]];
        var prefix = ctx + "activity/hdPlayerGiftLog";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                queryParams: queryParams,
                modalName: "礼物记录",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'playerName',
					title : '选手名称',
					sortable: true
				},
				{
					field : 'giftName',
					title : '礼物名称',
					sortable: true
				},
				{
					field : 'quantity', 
					title : '礼物数量',
					sortable: true
				},
				{
					field : 'amount', 
					title : '礼物总价值',
					sortable: true
				},
                    {
                        field : 'createTime',
                        title : '创建时间',
                        sortable: true
                    }
				/*{
					field : 'ticket', 
					title : '礼物总票数',
					sortable: true
				},*/
		        ]
            };
            $.table.init(options);
        });

        function queryParams(params) {
            console.log( $("#activityId").val())
            return {
                activityId:       $("#activityId").val(),
                pageSize:       params.limit,
                pageNum:        params.offset / params.limit + 1,
                searchValue:    params.search,
                orderByColumn:  params.sort,
                isAsc:          params.order
            };
        }

    </script>
</body>
</html>