<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.activity.mapper.HdPlayerTicketLogMapper">
    
    <resultMap type="HdPlayerTicketLog" id="HdPlayerTicketLogResult">
        <result property="id"    column="id"    />
        <result property="playerId"    column="player_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="extend1"    column="extend1"    />
        <result property="extend2"    column="extend2"    />
        <result property="extend3"    column="extend3"    />
        <result property="extend4"    column="extend4"    />
        <result property="extend5"    column="extend5"    />
        <result property="startRow"    column="startRow"    />
        <result property="extend5"    column="endRow"    />
    </resultMap>
	
	<sql id="selectHdPlayerTicketLogVo">
        select id, player_id, create_user, create_time, update_user, update_time, extend1, extend2, extend3, extend4, extend5 from hd_player_ticket_log
    </sql>
	
    <select id="selectHdPlayerTicketLogList" parameterType="HdPlayerTicketLog" resultMap="HdPlayerTicketLogResult">
        <include refid="selectHdPlayerTicketLogVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="playerId != null "> and player_id = #{playerId}</if>
             <if test="createUser != null "> and create_user = #{createUser}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateUser != null "> and update_user = #{updateUser}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="extend1 != null  and extend1 != '' "> and extend1 = #{extend1}</if>
             <if test="extend2 != null  and extend2 != '' "> and extend2 = #{extend2}</if>
             <if test="extend3 != null  and extend3 != '' "> and extend3 = #{extend3}</if>
             <if test="extend4 != null  and extend4 != '' "> and extend4 = #{extend4}</if>
             <if test="extend5 != null  and extend5 != '' "> and extend5 = #{extend5}</if>
         </where>
        order by create_time desc
        <if test="startRow != null  and startRow != '' and endRow != null  and endRow != '' ">
            limit #{startRow},#{endRow}
        </if>
    </select>
    
    <select id="selectHdPlayerTicketLogById" parameterType="Integer" resultMap="HdPlayerTicketLogResult">
        <include refid="selectHdPlayerTicketLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHdPlayerTicketLog" parameterType="HdPlayerTicketLog">
        insert into hd_player_ticket_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="playerId != null  ">player_id,</if>
			<if test="createUser != null  ">create_user,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateUser != null  ">update_user,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="extend1 != null  and extend1 != ''  ">extend1,</if>
			<if test="extend2 != null  and extend2 != ''  ">extend2,</if>
			<if test="extend3 != null  and extend3 != ''  ">extend3,</if>
			<if test="extend4 != null  and extend4 != ''  ">extend4,</if>
			<if test="extend5 != null  and extend5 != ''  ">extend5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="playerId != null  ">#{playerId},</if>
			<if test="createUser != null  ">#{createUser},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateUser != null  ">#{updateUser},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="extend1 != null  and extend1 != ''  ">#{extend1},</if>
			<if test="extend2 != null  and extend2 != ''  ">#{extend2},</if>
			<if test="extend3 != null  and extend3 != ''  ">#{extend3},</if>
			<if test="extend4 != null  and extend4 != ''  ">#{extend4},</if>
			<if test="extend5 != null  and extend5 != ''  ">#{extend5},</if>
         </trim>
    </insert>
	 
    <update id="updateHdPlayerTicketLog" parameterType="HdPlayerTicketLog">
        update hd_player_ticket_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="playerId != null  ">player_id = #{playerId},</if>
            <if test="createUser != null  ">create_user = #{createUser},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateUser != null  ">update_user = #{updateUser},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="extend1 != null  and extend1 != ''  ">extend1 = #{extend1},</if>
            <if test="extend2 != null  and extend2 != ''  ">extend2 = #{extend2},</if>
            <if test="extend3 != null  and extend3 != ''  ">extend3 = #{extend3},</if>
            <if test="extend4 != null  and extend4 != ''  ">extend4 = #{extend4},</if>
            <if test="extend5 != null  and extend5 != ''  ">extend5 = #{extend5},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteHdPlayerTicketLogById" parameterType="Integer">
        delete from hd_player_ticket_log where id = #{id}
    </delete>
	
    <delete id="deleteHdPlayerTicketLogByIds" parameterType="String">
        delete from hd_player_ticket_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCounts" resultType="int">
        select COUNT(*) from hd_player_ticket_log
        <where>
            <if test="createTime != null">AND date(create_time) = curdate()</if>
            <if test="extend1 != null and extend1 != ''">AND extend1 = #{extend1}</if>
            <if test="extend3 != null and extend3 != ''">AND extend3 = #{extend3}</if>
            <if test="playerId != null  ">AND player_id = #{playerId}</if>
        </where>
    </select>

    <select id="selectCountHour" resultType="int">
        SELECT COUNT(*) FROM hd_player_ticket_log
        <where>
            DATE_FORMAT(create_time,'%Y-%m-%d %H:00') = (select DATE_FORMAT(NOW(),'%Y-%m-%d %H:00'))
            <if test="playerId != null  ">AND player_id = #{playerId}</if>
        </where>
    </select>
</mapper>