<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
        <head th:include="include :: header"></head>
        <body class="white-bg">
            <div class="wrapper wrapper-content animated fadeInRight ibox-content">
                <form class="form-horizontal m" id="form-hdPlayer-edit" th:object="${hdPlayer}">
                    <input id="id" name="id" th:field="*{id}"  type="hidden">
                    <input id="switch" name="switch" class="form-control" type="text" th:value="${switch}" style="display:none" >
                    <div class="form-group">
                        <label class="col-sm-3 control-label">选手名称：</label>
                        <div class="col-sm-8">
                            <input id="name" name="name" th:field="*{name}" class="form-control" type="text" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">选手联系电话：</label>
                        <div class="col-sm-8">
                            <input id="tel" name="tel" th:field="*{tel}" class="form-control" type="text" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group"  id="xianshi">
                        <label class="col-sm-3 control-label">分组表id：</label>
                        <div class="col-sm-8">
                            <select id="group" name="group" class="form-control" disabled="disabled">
                                <option th:each="obj,eStat:${HdGroup}" th:value="${obj.id}"
                                        th:text="${obj.name}" th:selected="${#strings.contains(hdPlayer.groupId,obj.id)}"></option>
                            </select>
                            <!--<input id="groupId" name="groupId" th:field="*{groupId}" class="form-control" type="text">-->
                        </div>
                    </div>
                    <!--<div class="form-group">	-->
                    <!--<label class="col-sm-3 control-label">视频：</label>-->
                    <!--<div class="col-sm-8">-->
                    <!--<input id="video" name="video" th:field="*{video}" class="form-control" type="text">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">	-->
                    <!--<label class="col-sm-3 control-label">音频：</label>-->
                    <!--<div class="col-sm-8">-->
                    <!--<input id="voice" name="voice" th:field="*{voice}" class="form-control" type="text">-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">选手描述：</label>
                        <div class="col-sm-8">
                            <input id="describe" name="describe" th:field="*{describes}" class="form-control" type="text" readonly="readonly">
                        </div>
                    </div>
                    <!--<div class="form-group" type="hidden">
                        <label class="col-sm-3 control-label">选手描述：</label>
                        <div class="col-sm-8">
                            <input id="coverImg" name="coverImg" th:field="*{coverImg}" class="form-control" type="text">
                        </div>
                    </div>-->
                    <div class="from-group">
                        <label class="col-sm-3 control-label">选手照片:</label>
                        <div class="col-sm-8">
                            <div style="position: relative">
                                <!--<div class="uploadImgBtn" id="uploadImgBtn">
                                    <input class="uploadImg" type="file" name="file" multiple id="file">
                                </div>-->
                                <div id="pics">

                                </div>
                                <!--<div style="color:#9b9b9b;font-size:12px;margin-top:6px;">最多可以上传三张图片，且大小小于3M。</div>-->
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div th:include="include::footer"></div>
            <script type="text/javascript">
                var prefix = ctx + "activity/hdPlayer";
                $(function () {
                $.ajax({
                cache: true,
                type: "POST",
                url: prefix + "/playerImg",
                data: {
                "id":$("#id").val()
                },
                async : false,
                error : function(request) {
                $.modal.alertError("系统错误");
                },
                success : function(data) {
                console.log(data.rows[0].url)
                var  datas=data.rows;
                console.log(datas)
                for(var i=0;i<datas.length;i++){
                $("#pics").append("<div class=\"pic\" style=\"position: relative; margin-right: 10px;\">" +
                //"<span class=\"tupian\" onclick=\"abc("+datas[i].id+")\" style=\"width: 100px; color: rgb(255, 255, 255); background-color: rgb(255, 79, 77);text-align: center; position: absolute; bottom: 0px; border: none; border-radius: 3px;\">删除</span>" +
                "<img class=\"imgs\" src="+datas[i].url+"\>" +
                "</div>");
            }
            }
            })

            })

            if ($("#switch").val() == 0){
            $("#xianshi").attr('style','display:none')
            }
        </script>
    </body>
</html>
